:root{
    /* radice: serve per settare una regola alla radice del documento */
   --sidebar-width: 200px;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header-nav ul{
    list-style: none;
    display: flex;
    gap: 15px;

}
/* MAIN */
.container{
    display: flex;

    /* DEBUG */
    min-height: 600px;
    background-color: lightgreen;
}

nav{
    width: var(--sidebar-width);
    padding: 20px 10px;
    /* DEBUG */
    background-color: lightcoral;
}
main{
    /* flex-grow: 1; alternativa*/
    width: calc(100%- var(--sidebar-width));
    padding: 20px;


    /* DEBUG */
    background-color: lightyellow;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    /* debug */
    background-color: lightgreen;
}
