:root{
    /* radice: serve per settare una regola alla radice del documento */
   --sidebar-width: 200px;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;

    /* DEBUG */
    height: 700px;
    background-color: lightgreen;
}
nav{
    width: var(--sidebar-width);
    padding: 20px 10px;


    /* DEBUG */
    background-color: lightcoral;
}
main{
    /* flex-grow: 1; alternativa*/
    width: calc(100%- var(--sidebar-width));
    padding: 20px;


    /* DEBUG */
    background-color: lightyellow;
}
