*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header{

    height: 100px;
    /* debug */
    background-color: lightyellow;
}

/* MAIN */

main.flex{
    gap: 20px;
    align-items: flex-start;
}
nav.menu li{
    background-color: lightseagreen;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    color: aliceblue;
}
a{
    color: inherit;
}

.wrapper{
    border: dashed white;
    padding: 10px;

}

article{
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px;
}



/* debug color */
nav.menu {
    background-color: lightblue;
    width: 25%;
    padding: 10px;
}
.main-section{
    background-color: lightcoral;
    width: 50%;
    padding: 10px;
}
aside{
    background-color: lightgreen;
    width: 25%;
    

}

.flex{
    display: flex;
}


/* FOOTER */

footer{
    background-color: lightsalmon;
    height: 80px;
}
